    /* width */
    ::-webkit-scrollbar {
    width: 7px;
}
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #ffb5b5b3;
    border-radius: 46px;
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #ffb5b5;
}
    /* Track */
    ::-webkit-scrollbar-track {
    background: #151515;
}




* {
	font-family: 'Comfortaa', cursive;
	margin: 0;
	padding: 0;
}

:root {
	--bg: #151515;
	--primary: #FF9F9F;
    --secondry: #9fffa2;
}

body {
	background: var(--bg);
	padding: 30px;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.start_page {
	font-weight: 700;
	font-size: 128px;
	line-height: 161px;
	/* identical to box height */
	letter-spacing: 0.035em;
	background: linear-gradient(93.98deg, rgba(255, 105, 105, 0.42) 0%, rgba(255, 255, 255, 0.17) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    gap: 25px;
}

.button_m {
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 15px;
    font-weight: 400;
    color: var(--primary);
    font-size: 21px;
    text-align: center;
    transition: 0.3s;
}

.button_m:hover {
	color: var(--bg);
	background: var(--primary);
}

a {
	text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

header h1 {
	color: #fff;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 0.03em;
}

header svg {
	color: #fff;
	font-size: 32px;
	font-weight: 700;
	padding: 15px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: 0.3s;	
    cursor: pointer;
}

header svg:hover {
	background: var(--primary);
	color: var(--bg);
}

.paper {
	display: flex;
    flex-direction: column;
    max-width: 800px;
}

.paper a {
    display: contents;
}

.description {
	background: #1e1e1e;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.description h2 {
	margin-left: 5px;
	margin-top: 5px;
    color: #fff;
	font-size: 20px;
	margin-bottom: 10px;
}

.description p {
	margin-right: 5px;
	margin-top: 5px;
	color: var(--primary);
	font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    padding: 15px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: stretch;
    transition: 0.3s;
}



.card h1 {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.03em;
    container-type: inline-size;
    word-wrap: break-word;

}

.card p {
    font-weight: 200;
    font-size: 17px;
    color: #ffffffc7;
    container-type: inline-size;
    word-wrap: break-word;
}

.btn_link {
    display: block;
    padding: 15px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: 0.3s;
}

.btn_link:hover {
    color: var(--bg);
}

.t_primary {
    color: var(--primary);
}

.t_primary:hover {
    background: var(--primary);
    color: var(--bg);
}

.t_secondry {
    color: var(--secondry);
}

.t_secondry:hover {
    background: var(--secondry);
    color: var(--bg);
}

.banner {
    object-fit: cover;
    width: 200px;
    max-height: 305px;
    border-radius: 10px;
}


.card nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 145px;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 762px;
  right: -25px;
  width: 50px;
  height: 50px;
  z-index: 99; 
  border: none; 
  outline: none; 
  border: 3px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
    background: var(--primary);
}

.description a {
    display: flex;
    padding: 10px;
}

.btn_list {
    display: flex;
    gap:15px;
}

.show {display: flex!important;}

    .lang-content {
        display: none;
        position: absolute;
        background: var(--bg);
        border: 3px solid rgba(255, 255, 255, 0.1);
        flex-direction: column;
        margin-top: 10px;
        margin-left: -15px;
        border-radius: 10px;
        gap: 15px;
        padding: 15px;
        z-index: 2;
}

    .lang-content button {
        text-decoration: none;
        color: #fff;
        font-size: 17px;
        font-weight: 100;
        background: transparent;
        border: none;
        text-align: left;
        cursor: pointer;
    }

    .lang-content button:hover {
        color: #FF9F9F;
    }

    .cardReverse {
        flex-direction: column;
        justify-content: space-between;
    }

    .cardImgLargeReverse {
        width: 400px;
        max-height: 1000px;
    }

    .cardImgLargeReverseMobile {
        width: 310px !important;
        max-height: 1000px;
    }

    .container-collection {
        overflow-x: overlay;
        display: flex;
        gap:15px;
        border-radius: 15px;
    }

    .container-collection::-webkit-scrollbar {
        display: none;
    }   

    .cardColl {
        background: linear-gradient(0deg, rgb(0 0 0), rgb(0 0 0 / 10%)), 
        url(https://lh3.google.com/u/0/d/1BBW_ApifvMEF8N-MkFYnOmSTio78PTWZ=w1885-h936-iv1);
        background-repeat: no-repeat;
        background-position: center 0;
        width: 400px;
        height: 300px;
        border-radius: 15px;
        display: flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        flex: 0 0 25%;
    }
    .cc-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        border-radius: 15px;
    }

    .cc-info nav h1 {
        color: #fff;
    }
    .cc-info nav h2 {
        color: var(--primary);
        font-size: 16px;
    }
    .cc-info nav p {
        color: #ffffffc7;
    }
    .cc-info nav {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .cc-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    color: #fff;
    border: 3px solid;
    border-radius: 15px;
    transition: 0.3s;
}

    .cc-link svg {
        font-size: 64px;
    }

    .cc-link:hover {
        border-color: var(--primary);
        color: var(--primary);
    }



/* Slider Collection */

#cardC {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    width: 100%;
}

#cardC .containerLeft img {
    width: 295px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
    filter: grayscale(1);
    transition: 0.3s;
}

#cardC .containerLeft img:hover {
    filter: none;
}

#cardC .containerLeft {
    background-color: #151515;
    flex: 0 0 40%;
    padding: 15px;
    border-radius: 15px;
}

#cardC .containerRight {
    background-color: #111111;
    flex: 0 0 49.7%;
    padding: 15px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;

}

.textC {
    display: flex;
    flex-direction: column;
    gap:15px;
}


.btnC {
    color: #fff;
    border: 3px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    width: fit-content;
    border-radius: 10px;
    transition: 0.3s;
    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.035em;
    cursor: pointer;

}

.btnC:hover {
    background: var(--primary);
    color: var(--bg);
    
}

.containerBtn {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 15px;

}

.textC h3 {
    position: initial;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.035em;
  color: #535353;
  list-style: circle;
}

.textC h1 {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.035em;
  color: #FFFFFF;
}

.textC h2 {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.035em;
  color: #C5C5C5;
}

.containerBtn #number {
    border:1px solid rgb(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.035em;
    
}

.listC {
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 100%;
    height: 250px;
    overflow-y: scroll;
}

.listCItem {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 10px;
    color: #fff;
} 

#listLabel {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.035em;
}

.tooltip svg {
    font-size: 24px;
}

/* Slider Collection END */

div.container.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

@media screen and (max-width: 768px) {
    .start_page {
        font-size: 64px;
    }
    .container {
        align-items: stretch;
    }
    header svg {
    font-size: 24px;
    padding: 10px;
}

    header h1 {
        font-size: 27px;
    }

    .container-cards {
        justify-content: center;
    }
    .menu {
        flex-direction: column;
    }

    header svg, .card {
        border: 2px solid rgba(255, 255, 255, 0.1);
    }
    .banner {
        width: 180px;
}
    .card nav {
        width: initial;
    }
    .btn_link {
        font-size: 14px;
    }
    .card h1 {
        font-size: 16px;
    }
    .lang-content {
        margin-left: -45px;
    }

    #cardC {
        flex-direction: column;
    }
    #cardC .containerRight {
        border-radius: 0px 0px 15px 15px;
        gap:30px;
    }

}