    /* width */
    ::-webkit-scrollbar {
    width: 7px;
}
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: var(--primary-hidden);
    border-radius: 46px;
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}
    /* Track */
    ::-webkit-scrollbar-track {
    background: var(--bg);
}




* {
	font-family: 'Comfortaa', cursive;
	margin: 0;
	padding: 0;
}

:root {
	--bg: #151515;
	--primary: #E67EDB;
    --primary-hidden:#5E3359;
    --secondry: #9fffa2;
    --white:#fff;
    --bg-secondry:#111111;
    --text-secondry:#C5C5C5;
    --text-black:#535353;
}

body {
	background: var(--bg);
	padding: 30px;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.start_page {
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0.035em;
    text-align: left;
	color: var(--primary);

}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    align-items: stretch;
    justify-content: center;
}

.button_m {
    background: var(--bg);
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s;
    justify-content: space-between;
}

.button_m img {
    border-radius: 15px;
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.button_m h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 45px;
    letter-spacing: 0.035em;
    color: var(--primary);
}

a.button_m:hover {
    background: var(--primary-hidden);
    border: 3px solid var(--primary);
    transform: translateY(-10px);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
}

.header span.icon {
    padding: 9px;
    background: var(--primary-hidden);
    border: 3px solid var(--primary);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header span.icon svg {
    font-size: 40px;
    color: var(--primary);
    transition: 0.3s;
}


a {
	text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

header h1 {
	color: var(--white);
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 0.03em;
    word-break: break-all;
}

header svg {
	color: var(--primary);
	font-size: 32px;
	font-weight: 700;
	padding: 15px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: 0.3s;	
    cursor: pointer;
}

header svg:hover {
	background: var(--primary-hidden);
	border-color: var(--primary);
}

.paper {
	display: flex;
    flex-direction: column;
    max-width: 800px;
}

.paper a {
    display: contents;
}

.description {
	background: #1e1e1e;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.description h2 {
	margin-left: 5px;
	margin-top: 5px;
    color: var(--white);
	font-size: 20px;
	margin-bottom: 10px;
    word-break: break-all;
}

.description p {
	margin-right: 5px;
	margin-top: 5px;
	color: var(--primary);
	font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    padding: 15px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: stretch;
    transition: 0.3s;
}



.card h1 {
    font-weight: 500;
    font-size: 20px;
    color: var(--white);
    letter-spacing: 0.03em;
    container-type: inline-size;
    word-wrap: break-word;

}

.card p {
    font-weight: 200;
    font-size: 17px;
    color: var(--text-secondry);
    container-type: inline-size;
    word-wrap: break-word;
}

.btn_link {
    display: block;
    padding: 15px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: 0.3s;
}

.btn_link:hover {
    color: var(--primary);
}

.t_primary {
    color: var(--primary);
}

.t_primary:hover {
    background: var(--primary-hidden);
    border-color: var(--primary);
}

.t_secondry {
    color: var(--secondry);
}

.t_secondry:hover {
    background: var(--secondry);
    color: var(--bg);
}

.banner {
    object-fit: cover;
    width: 200px;
    max-height: 305px;
    border-radius: 10px;
}


.card nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 145px;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 762px;
  right: -25px;
  width: 50px;
  height: 50px;
  z-index: 99; 
  border: none; 
  outline: none; 
  border: 3px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
    background: var(--primary);
}

.description a {
    display: flex;
    padding: 10px;
}

.btn_list {
    display: flex;
    gap:15px;
}

.show {display: flex!important;}

    .lang-content {
        display: none;
        position: absolute;
        background: var(--bg);
        border: 3px solid rgba(255, 255, 255, 0.1);
        flex-direction: column;
        margin-top: 10px;
        margin-left: -15px;
        border-radius: 10px;
        gap: 15px;
        padding: 15px;
        z-index: 2;
}

    .lang-content button {
        text-decoration: none;
        color: var(--white);
        font-size: 17px;
        font-weight: 100;
        background: transparent;
        border: none;
        text-align: left;
        cursor: pointer;
    }

    .lang-content button:hover {
        color: var(--primary);
    }

    .cardReverse {
        flex-direction: column;
        justify-content: space-between;
    }
    .cardNAV {
        width: 100% !important;
    }

    .cardImgLargeReverse {
        width: 400px;
        max-height: 1000px;
    }

    .cardImgLargeReverseMobile {
        width: 310px !important;
        max-height: 1000px;
    }

    .container-collection {
        overflow-x: overlay;
        display: flex;
        gap:15px;
        border-radius: 15px;
    }

    .container-collection::-webkit-scrollbar {
        display: none;
    }   

    .cardColl {
        background: linear-gradient(0deg, rgb(0 0 0), rgb(0 0 0 / 10%)), 
        url(https://lh3.google.com/u/0/d/1BBW_ApifvMEF8N-MkFYnOmSTio78PTWZ=w1885-h936-iv1);
        background-repeat: no-repeat;
        background-position: center 0;
        width: 400px;
        height: 300px;
        border-radius: 15px;
        display: flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        flex: 0 0 25%;
    }

/* Slider Collection */

#cardC {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    width: 100%;
}

#cardC .containerLeft img {
    width: 295px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
    filter: grayscale(1);
    transition: 0.3s;
}

#cardC .containerLeft img:hover {
    filter: none;
}

#cardC .containerLeft {
    background-color: var(--bg);
    flex: 0 0 40%;
    padding: 15px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#cardC .containerRight {
    background-color: var(--bg-secondry);
    flex: 0 0 49.7%;
    padding: 15px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;

}

.textC {
    display: flex;
    flex-direction: column;
    gap:15px;
}


.btnC {
    color: var(--white);
    border: 3px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    width: fit-content;
    border-radius: 10px;
    transition: 0.3s;
    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.035em;
    cursor: pointer;

}

.btnC:hover {
    background: var(--primary);
    color: var(--bg);
    
}

.containerBtn {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 15px;

}

.textC h3 {
    position: initial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.035em;
  color: var(--text-black);
  list-style: circle;
}

.textC h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.035em;
  color: var(--white);
}

.textC h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.035em;
  color: var(--text-secondry);
}

.containerBtn #number {
    border:1px solid rgb(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.035em;
    
}

.listC {
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 100%;
    height: 250px;
    overflow-y: scroll;
}

.listCItem {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 10px;
    color: var(--white);
} 

#listLabel {
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.035em;
}

.tooltip svg {
    font-size: 24px;
}

/* Slider Collection END */

footer {
    margin-top: 30px;
    display: flex;
    gap:20px;
}

.button_f {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
    padding: 15px;
    background: var(--bg);
    border: 3px solid rgba(255, 255, 255, 0.1);
    color: var(--primary);
    border-radius: 15px;
    transition: 0.3s;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 20px;
    line-height: 100%;
}

.button_f:hover {
    border-color: var(--primary);
    background: var(--primary-hidden);

}

.button_f svg {
    font-size: 24px;
}


@media screen and (max-width: 768px) {
    .start_page {
        font-size: 32px;
        line-height: 32px;
    }
    .button_m {
        align-items: center;
    }
    .header span.icon svg {
        font-size: 32px;
    }
    .container {
        align-items: stretch;
    }
    header svg {
    font-size: 24px;
    padding: 10px;
}

    header h1 {
        font-size: 24px;
    }

    .container-cards {
        justify-content: center;
    }
    .menu {
        flex-direction: column;
    }

    header svg, .card {
        border: 2px solid rgba(255, 255, 255, 0.1);
    }
    .banner {
        width: 180px;
}
    .card nav {
        width: initial;
    }
    .btn_link {
        font-size: 14px;
    }
    .card h1 {
        font-size: 16px;
    }
    .lang-content {
        margin-left: -45px;
    }

    #cardC {
        flex-direction: column;
    }
    #cardC .containerRight {
        border-radius: 0px 0px 15px 15px;
        gap:30px;
    }

}