header svg {
	background:transparent;
	backdrop-filter: blur(3px);
}

#count {
	background:transparent;
	backdrop-filter: blur(3px);
}

body {
	background: url(Multimedia/bbcBG.png) #151515 repeat;
	background-size: 50% !important;
}

#myBtn {
	background:transparent;
	backdrop-filter: blur(3px);
}



@media screen and (max-width: 768px) {
	body {
		background-size: 240%;
	}

}
